.section-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-table h2 {
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
table caption {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
table {
  text-align: center;
  border-collapse: collapse;
}
th,
td {
  border: 2px solid #000;
  padding: 10px 15px;
  font-size: 20px;
  font-family: cursive, sans-serif;
}
