<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>layout</title>

    <style>
      .container {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(3, 150px) 50px 50px;
        gap: 10px;
        width: 50%;
        margin: 0 auto;
      }
      .container div {
        padding: 20px;
        background: #999;
      }

      .side {
        grid-column: span 1;
        grid-row: span 5;
      }
      .footer {
        grid-column: span 3;
        grid-row: span 1;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="side">item</div>
      <div class="">item</div>
      <div class="">item</div>
      <div class="">item</div>
      <div class="">item</div>
      <div class="">item</div>
      <div class="">item</div>
      <div class="">item</div>
      <div class="">item</div>
      <div class="">item</div>
      <div class="footer">item</div>
      <div class="footer">item</div>
    </div>
  </body>
</html>
